{% extends 'base.html' %}
{% block content %}
        {% if notes %}
            <ul>
                {% for note in notes %}
                    <li><a href="{{ note.picture.url }}">{{ note.unit }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}
	<div class = "col-md-6">
        <div class="note">
            <h1>{{ MEDIA_URL }}</a></h1>
            <p>{{ name.text }}</p>
			<img src ="{{ note.picture.url }}" alt="picture" height="90px" width="80px">   
 	</div>     
 </div>
{% endblock content %}